<div class="row">
	<div class="col-md-10 col-md-offset-1 main">
		<h1>Home</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, facilis assumenda expedita atque sapiente distinctio. Similique officia laborum earum.</p>
		<div class="row">
			<h2>Featured</h2>
			<% @products_home[:featured].each do |p| %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="https://www.helpmicros.com.br/images/no_product_image.gif" alt="Product">
		      <div class="caption">
		        <h3><%= p.name %></h3>
		        <p><%= p.description %></p>
		        <p><%= link_to "See more", product_path(p), class: 'btn btn-default'  %></p>
		      </div>
		     </div>
			</div>
		<% end %>
		</div>
		
		<div class="row">
			<h3>Take a look at our newer ones</h3>
			<% @products_home[:newer].each do |p| %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="https://www.helpmicros.com.br/images/no_product_image.gif" alt="Product">
		      <div class="caption">
		        <h3><%= p.name %></h3>
		        <p><%= p.description %></p>
		        <p><%= link_to "See more", product_path(p), class: 'btn btn-default'  %></p>
		      </div>
		     </div>
			</div>
			<% end %>
		</div>
		<div class="row">
			<h3>Other products</h3>
			<% @products_home[:normal].each do |p| %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<%= image_tag p.pictures[0].image.url %>
		      <div class="caption">
		        <h3><%= p.name %></h3>
		        <p><%= p.description %></p>
		        <p><%= link_to "See more", product_path(p), class: 'btn btn-default'  %></p>
		      </div>
		     </div>
			</div>
			<% end %>
		</div>
	</div>
</div>